<div class="row">
    <div class="col-12">
        <h2>Threat Matrix</h2>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Threat Id</th>
                            <th>Threat Name</th>
                            <th>Risk (Likelyhood)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let m of data.list">
                            <tr>
                            <td>{{ m.cat_id }}</td>
                            <td>{{ m.cat_name }}</td>
                            <td><select class="form-control">
                                <option value="0">Minimal</option>
                                <option value="1">Low</option>
                                <option value="2">Medium</option>
                                <option value="3">High</option>
                                <option value="4">Very High</option>
                            </select></td>
                            <td><button (click)="toggleE(m)" class="btn btn-secondary">Consequense</button></td>
                            </tr>
                            <tr *ngIf="m.show=='Y'">
                                <td colspan="4">
                                        <h2>{{ m.cat_name }}</h2>
                                </td>
                            </tr>
                            <tr *ngIf="m.show=='Y'">
                                <td colspan="4">
                                        <app-threat-cons-template></app-threat-cons-template>
                                </td>
                            </tr>
                        </ng-container>
                </table>
            </div>
        </div>
    </div>
</div>

